{% extends "base.html" %}
{% load form_extras %}
{% block title %}Time Entry{% endblock %}
{% block content %}
  <h1>Time Entry</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="formrow">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:"input" }}
        {% if field.errors %}<div class="muted">{{ field.errors }}</div>{% endif %}
      </div>
    {% endfor %}
    <button class="btn purple" type="submit">Save</button>
    <a class="btn" href="{% url 'my_time_entries' %}">Back</a>
  </form>
{% endblock %}
